web/src/main/webapp/WEB-INF/db/data/*APP_*
web/src/main/webapp/WEB-INF/classes/JZKitConfig.xml
web/src/main/webapp/scripts/lib/*
web/src/main/webapp/xml/schemas/*/schematron-rules*
web/src/main/webapp/xml/schemas/*/loc/*/schematron-rules*
web/src/data/*
web/logs
web/jcs_caching

*/target/

schematrons/.build

geoserver/*
web/maven_repo
