geoserver/*

cachingxslt/target
gast/target
jeeves/target
oaipmh/target
sde/target

schematrons/.build

web/target
web/logs
web/src/main/webapp/WEB-INF/db/data/*APP_*
web/src/main/webapp/WEB-INF/classes/JZKitConfig.xml
web/src/main/webapp/xml/schemas/*/schematron-rules*
web/src/main/webapp/xml/schemas/*/loc/*/schematron-rules*
web/maven_repo
web/src/data/*
web/jcs_caching
